@model QuizBit_WebApp.Models.User
@{
    Layout = null;
    var alertLogin = ViewBag.alertLogin;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V18</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <link href="~/Content/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/animsition.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/select2.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/login.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/util.css" rel="stylesheet" />
    <!--===============================================================================================-->
</head>
<body style="background-color: #666666;">

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">

                @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "login100-form validate-form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <span class="login100-form-title p-b-43">
                        ĐĂNG NHẬP
                    </span>
                    if (alertLogin == true)
                    {
                        <div class="alert alert-danger alert-dismissible errorBox" style="text-shadow: none; list-style-type:none">

                            <i class="fa fa-exclamation-triangle"></i>&nbsp; @ViewBag.Mes
                        </div>
                    }
                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        @Html.TextBoxFor(model => model.UserName, new { @class = "input100", autofocus = "autofocus" })
                        <span class="focus-input100"></span>
                        <span class="label-input100">Tên đăng nhập</span>
                    </div>


                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        @Html.PasswordFor(model => model.Password, new { @class = "input100" })
                        <span class="focus-input100"></span>
                        <span class="label-input100">Mật khẩu</span>
                    </div>

                    <div class="flex-sb-m w-full p-t-3 p-b-32">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                Nhớ đăng nhập

                            </label>
                        </div>

                        <div>
                            <a href="#" class="txt1">
                                Quên mật khẩu?
                            </a>
                        </div>
                    </div>


                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">
                            Đăng nhập
                        </button>
                    </div>
                }




                <div class="login100-more" style="background-image: url('/Resource/Img/bg-01.jpg');">
                </div>
            </div>
        </div>
    </div>





    <!--===============================================================================================-->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/select2.min.js"></script>
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <script src="~/Scripts/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/login.js"></script>

</body>
</html>